@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 93.3vh;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}

.wrapper {
    background: #fff;
    max-width: 80%;
    width: 100%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

header {
    font-size: 30px;
    font-weight: 600;
}

.story p {
    margin-bottom: 10px;
    font-size: 14px;
}

.option-text li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-top: 18px;
    margin-bottom: 8px;
    background: lightgrey;
    border-radius: 3px;
    padding: 0 15px;
    overflow: hidden;
}

.option-text a {
    font-size: 14px;
    color: rebeccapurple;
    text-decoration: none;
}
